body{margin: 0; padding: 0; font-family: Helvetica Neue,Helvetica,Arial,sans-serif;}
a{text-decoration: none !important;}
button:focus{outline: 0; -webkit-appearance: none; -moz-appearance: none;}
input:focus{outline: 0; -webkit-appearance: none; -moz-appearance: none;}

/* preloader (start) */
#preloader {position: fixed;z-index: 9999999;top: 0;bottom: 0;right: 0;left: 0;background: #000000ab;}
.inner {position: absolute;top: 0; bottom: 0;right: 0; left: 0;width: 54px;height: 54px;margin: auto;}
.page-loader{display:block;width: 100%;height: 100%;position: fixed;top: 0;left: 0;background: #fefefe;z-index: 100000;}
.spinner {width: 50px;height: 40px;text-align: center;font-size: 10px;}
.spinner > div {background-color: #fff;height: 100%;width: 6px;display: inline-block;-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;animation: sk-stretchdelay 1.2s infinite ease-in-out;}
.spinner .rect2 {-webkit-animation-delay: -1.1s;animation-delay: -1.1s;}
.spinner .rect3 {-webkit-animation-delay: -1.0s;animation-delay: -1.0s;}
.spinner .rect4 {-webkit-animation-delay: -0.9s;animation-delay: -0.9s;}
.spinner .rect5 {-webkit-animation-delay: -0.8s;animation-delay: -0.8s;}
@-webkit-keyframes sk-stretchdelay {0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  20% { -webkit-transform: scaleY(1.0) }}
@keyframes sk-stretchdelay {0%, 40%, 100% { transform: scaleY(0.4);-webkit-transform: scaleY(0.4);}  20% { transform: scaleY(1.0);-webkit-transform: scaleY(1.0);}}
/* preloader (end) */

/* burger menu (start) */
.burger-area{display: none; width: 100%; float: left; margin-bottom: 125px; position: fixed; z-index: 111}
.burger-area .mb-logo{position: absolute; display: block; z-index: 13; margin-top: 24px;}
.burger-area .mb-logo img{width: 235px;}
.burger-menu{position: absolute; display: none;}
.burger-area label {position: absolute; top: 27px; right: 15px; height: 30px; margin-bottom: 0; width: 40px; z-index: 15;}
.burger-area label span { position: absolute; width: 100%; height: 3px; top: 50%; margin-top: 5px; left: 0; display: block; background: #3c3c3c; transition: .5s; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;}
.burger-area label span:first-child {top: 5px;}
.burger-area label span:last-child {top: 25px;}
.burger-label:hover {cursor: pointer;}
.burger-menu:checked + .container .row .col-md-6 label span {opacity: 0; top: 50%;}
.burger-menu:checked + .container .row .col-md-6 label span:first-child {opacity: 1; transform: rotate(405deg);}
.burger-menu:checked + .container .row .col-md-6 label span:last-child {opacity: 1; transform: rotate(-405deg);}
.burger-menu ~ nav {position: fixed; margin-bottom: 30px; top: 0; left: 0; width: 100%; height: 100px; border-top: 6px solid #3c3c3c; z-index: 12; transition: .5s; transition-delay: .5s; overflow: hidden; -webkit-box-shadow:0 3px 8px 0 rgba(0,0,0,0.50); -moz-box-shadow:0 3px 8px 0 rgba(0,0,0,0.50); box-shadow:0 3px 8px 0 rgba(0,0,0,0.50);}
.burger-menu ~ nav > ul {text-align: center; position: absolute; top: 85px; left: -40px; right: 0;}
.burger-menu ~ nav > ul > li {opacity: 0; transition: .5s; transition-delay: 0s; list-style-type: none;}
.burger-menu ~ nav > ul > li > a {text-decoration: none; color: #3c3c3c; font-size: 20px; display: block; padding: 10px;}
.burger-menu ~ nav > ul > li > .active{font-weight: bold; border-bottom: 3px solid; border-top: 3px solid;}
.burger-menu:checked ~ nav {background: #ffffff !important; height: 100%; transition-delay: 0s; z-index: 14}
.burger-menu:checked ~ nav > ul > li {opacity: 1; transition-delay: .5s;}
/* burger menu (end) */

/* used everywhere (start) */
.special-area{width: 100%; float: left;}
.special-form-group{width: 100%; margin-bottom: 15px; display: block; position: relative; float: left;}
.special-form-group .special-label{width: 100%; float: left; color: #08569d; font-size: 15px; font-weight: 500; margin-bottom: 5px;}
.special-form-group .special-help{width: 100%; float: left; color: #dc3545; font-size: 12px; font-weight: 500; margin-bottom: 5px;}
.special-form-group .special-input{width: 100%; float: left; color: #08569d; font-size: 13px; padding: 12px 13px; letter-spacing: 0.9px; border: 1px solid #08569d;}
.special-form-group .special-select{width: 100%; color: #08569d; font-size: 11px; font-weight: bold; letter-spacing: 0.9px; height: 50px; padding: 17px 18px; border: 0; background: url(/assets/frontend/img/sec.svg) no-repeat right center #ffffff; background-position: 96% 50%; outline: none; -webkit-appearance: none; -moz-appearance: none;}
.special-form-group .special-textarea{width: 100%; color: #08569d; font-size: 11px; font-weight: bold; letter-spacing: 0.9px; padding: 17px 18px; border: 0; resize: none; outline: none; -webkit-appearance: none; -moz-appearance: none;}
.special-form-group .special-form-group .special-date{width: 100%; float: left; color: #08569d; font-size: 11px; border: 0; padding: 17px 18px; font-weight: bold; letter-spacing: 0.9px; background: url(/assets/frontend/img/tarih.svg) no-repeat right center #ffffff; background-position: 96% 50%;}
.special-btn-area{width: 100%; float: left; margin-top: 15px;}
.special-btn-area .special-btn{width: 100%; float: left; background: #08569d; color: #ffffff; font-weight: bold; letter-spacing: 0.8px; border: 0; cursor: pointer; font-size: 13px; text-align: center; padding: 13px 0px;}
.has-error .special-input{border-color: #dc3545;}
.web-show{display: block;}
.mobile-show{display: none;}
/* used everywhere (end) */

@media screen and (min-width: 992px) and (max-width: 1199px){

}

@media screen and (max-width: 1199px){
	.special-form-group .special-label{width: 100%;}
	.special-form-group .special-input{width: 100%;}
	.special-form-group .special-textarea{width: 100%; height: 189px;}
	.special-btn-area{margin-right: 0;}
}

@media screen and (min-width: 768px) and (max-width: 991px){

}

@media screen and (min-width: 991px){

}

@media screen and (max-width: 991px){

}

@media screen and (max-width: 767px){
	.web-show{display: none;}
	.mobile-show{display: block;}
}

@media screen and (max-width: 320px){
	
}







