@font-face {
    font-family: 'HNeue-Light';
    src: url('subset-HelveticaNeue-Light.woff2') format('woff2'), url('subset-HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HNeue-BlackItalic';
    src: url('subset-HelveticaNeue-BlackItalic.woff2') format('woff2'), url('subset-HelveticaNeue-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'HNeue-UltraLightItalic';
    src: url('subset-HelveticaNeue-UltraLightItalic.woff2') format('woff2'), url('subset-HelveticaNeue-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'HNeue-UltraLight';
    src: url('subset-HelveticaNeue-UltraLight.woff2') format('woff2'), url('subset-HelveticaNeue-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'HNeue-ThinItalic';
    src: url('subset-HelveticaNeue-ThinItalic.woff2') format('woff2'), url('subset-HelveticaNeue-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'HNeue-LightItalic';
    src: url('subset-HelveticaNeue-LightItalic.woff2') format('woff2'), url('subset-HelveticaNeue-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'HNeue-Black';
    src: url('subset-HelveticaNeue-Black.woff2') format('woff2'), url('subset-HelveticaNeue-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'HNeue-Bold';
    src: url('subset-HelveticaNeue-Bold.woff2') format('woff2'), url('subset-HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HNeue-Medium';
    src: url('subset-HelveticaNeue-Medium.woff2') format('woff2'), url('subset-HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'HNeue-Roman';
    src: url('subset-HelveticaNeue-Roman.woff2') format('woff2'), url('subset-HelveticaNeue-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HNeue-BoldItalic';
    src: url('subset-HelveticaNeue-BoldItalic.woff2') format('woff2'), url('subset-HelveticaNeue-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'HNeue-Thin';
    src: url('subset-HelveticaNeue-Thin.woff2') format('woff2'), url('subset-HelveticaNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'HNeue-Italic';
    src: url('subset-HelveticaNeue-Italic.woff2') format('woff2'), url('subset-HelveticaNeue-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}